@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header .navbar-brand img {
  width: 60px;
  height: 50px; }

.header .nav-item a:hover {
  color: #9c1c80; }

.index .contenidoIndex {
  margin: 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .index .contenidoIndex .contenedor1, .index .contenidoIndex .contenedor2 {
    width: 100%;
    height: auto;
    padding: 5px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .index .contenidoIndex .contenedor1 .item-1, .index .contenidoIndex .contenedor2 .item-1 {
      height: 450px;
      width: 60%;
      min-width: 350px;
      overflow: hidden; }
      .index .contenidoIndex .contenedor1 .item-1 img, .index .contenidoIndex .contenedor2 .item-1 img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: all 350ms ease-in-out; }
        .index .contenidoIndex .contenedor1 .item-1 img:hover, .index .contenidoIndex .contenedor2 .item-1 img:hover {
          transform: scale(1.1) rotate(3deg); }
    .index .contenidoIndex .contenedor1 .item-2, .index .contenidoIndex .contenedor2 .item-2 {
      height: 450px;
      width: 40%;
      min-width: 350px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .index .contenidoIndex .contenedor1 .item-2 h2, .index .contenidoIndex .contenedor2 .item-2 h2 {
        font-size: 50px;
        color: #9c1c80; }
      .index .contenidoIndex .contenedor1 .item-2 .btn-index, .index .contenidoIndex .contenedor2 .item-2 .btn-index {
        position: relative;
        display: inline-block;
        padding: 15px 30px;
        color: black;
        letter-spacing: 4px;
        font-size: 24px;
        text-decoration: none;
        overflow: hidden;
        transition: 0.2; }
        .index .contenidoIndex .contenedor1 .item-2 .btn-index span, .index .contenidoIndex .contenedor2 .item-2 .btn-index span {
          position: absolute;
          display: block; }
        .index .contenidoIndex .contenedor1 .item-2 .btn-index:hover, .index .contenidoIndex .contenedor2 .item-2 .btn-index:hover {
          background: #771a94ec;
          box-shadow: 0 0 10px #771a94ec, 0 0 40px #771a94ec, 0 0 80px #771a94ec;
          transition-delay: 1s;
          color: white; }
        .index .contenidoIndex .contenedor1 .item-2 .btn-index:hover .span1, .index .contenidoIndex .contenedor2 .item-2 .btn-index:hover .span1 {
          left: 100%;
          transition: 1s; }
        .index .contenidoIndex .contenedor1 .item-2 .btn-index:hover .span2, .index .contenidoIndex .contenedor2 .item-2 .btn-index:hover .span2 {
          top: 100%;
          transition: 1s;
          transition-delay: 0.25s; }
        .index .contenidoIndex .contenedor1 .item-2 .btn-index:hover .span3, .index .contenidoIndex .contenedor2 .item-2 .btn-index:hover .span3 {
          right: 100%;
          transition: 1s;
          transition-delay: 0.5s; }
        .index .contenidoIndex .contenedor1 .item-2 .btn-index:hover .span4, .index .contenidoIndex .contenedor2 .item-2 .btn-index:hover .span4 {
          bottom: 100%;
          transition: 1s;
          transition-delay: 0.75s; }
        .index .contenidoIndex .contenedor1 .item-2 .btn-index .span1, .index .contenidoIndex .contenedor2 .item-2 .btn-index .span1 {
          top: 0;
          left: -100%;
          width: 100%;
          height: 2px;
          background: linear-gradient(90deg, transparent, #771a94ec); }
        .index .contenidoIndex .contenedor1 .item-2 .btn-index .span2, .index .contenidoIndex .contenedor2 .item-2 .btn-index .span2 {
          top: -100%;
          left: 0;
          width: 2px;
          height: 100%;
          background: linear-gradient(180deg, transparent, #771a94ec); }
        .index .contenidoIndex .contenedor1 .item-2 .btn-index .span3, .index .contenidoIndex .contenedor2 .item-2 .btn-index .span3 {
          bottom: 0;
          right: -100%;
          width: 100%;
          height: 2px;
          background: linear-gradient(270deg, transparent, #771a94ec); }
        .index .contenidoIndex .contenedor1 .item-2 .btn-index .span4, .index .contenidoIndex .contenedor2 .item-2 .btn-index .span4 {
          bottom: -100%;
          left: 0;
          width: 2px;
          height: 100%;
          background: linear-gradient(360deg, transparent, #771a94ec); }

.skate .cont-titulo {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .skate .cont-titulo .titulo {
    font-size: 3.5rem;
    background-image: linear-gradient(80deg, #771a94ec, #9c1c80);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; }
  .skate .cont-titulo .borde {
    width: 90%;
    height: 1.5px;
    margin-bottom: 30px;
    background-image: linear-gradient(80deg, #771a94ec, #9c1c80); }

.skate .card-skate:hover {
  transform: scale(1.02); }

.skate .card-skate .img-skate .second-image {
  display: none; }

.skate .card-skate .img-skate:hover .first-image {
  display: none; }

.skate .card-skate .img-skate:hover .second-image {
  display: block; }

.skate .card-skate .card-body .btn-card {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #1b1a1a;
  width: 45%;
  height: 35px;
  color: white;
  font-size: 18px;
  border: none;
  transition: .3s ease all;
  border-radius: 5px;
  position: relative;
  overflow: hidden; }
  .skate .card-skate .card-body .btn-card::after {
    content: "";
    width: 100%;
    height: 100%;
    background: #771a94ec;
    position: absolute;
    z-index: 1;
    top: -80px;
    left: 0;
    transition: .3s ease-in-out all; }
  .skate .card-skate .card-body .btn-card span {
    position: relative;
    z-index: 2;
    transition: .3s ease all; }
  .skate .card-skate .card-body .btn-card:hover::after {
    top: 0; }

.indumentaria .cont-titulo {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .indumentaria .cont-titulo .titulo {
    font-size: 3.5rem;
    background-image: linear-gradient(80deg, #771a94ec, #9c1c80);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; }
  .indumentaria .cont-titulo .borde {
    width: 90%;
    height: 1.5px;
    margin-bottom: 30px;
    background-image: linear-gradient(80deg, #771a94ec, #9c1c80); }

.indumentaria .card-indu:hover {
  transform: scale(1.02); }

.indumentaria .card-indu .card-body .btn-card {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #1b1a1a;
  width: 45%;
  height: 35px;
  color: white;
  font-size: 18px;
  border: none;
  transition: .3s ease all;
  border-radius: 5px;
  position: relative;
  overflow: hidden; }
  .indumentaria .card-indu .card-body .btn-card::after {
    content: "";
    width: 100%;
    height: 100%;
    background: #771a94ec;
    position: absolute;
    z-index: 1;
    top: -80px;
    left: 0;
    transition: .3s ease-in-out all; }
  .indumentaria .card-indu .card-body .btn-card span {
    position: relative;
    z-index: 2;
    transition: .3s ease all; }
  .indumentaria .card-indu .card-body .btn-card:hover::after {
    top: 0; }

.accesorios .cont-titulo {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .accesorios .cont-titulo .titulo {
    font-size: 3.5rem;
    background-image: linear-gradient(80deg, #771a94ec, #9c1c80);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; }
  .accesorios .cont-titulo .borde {
    width: 90%;
    height: 1.5px;
    margin-bottom: 30px;
    background-image: linear-gradient(80deg, #771a94ec, #9c1c80); }

.accesorios .card-accesorios:hover {
  transform: scale(1.02); }

.accesorios .card-accesorios .card-body .btn-card {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #1b1a1a;
  width: 45%;
  height: 35px;
  color: white;
  font-size: 18px;
  border: none;
  transition: .3s ease all;
  border-radius: 5px;
  position: relative;
  overflow: hidden; }
  .accesorios .card-accesorios .card-body .btn-card::after {
    content: "";
    width: 100%;
    height: 100%;
    background: #771a94ec;
    position: absolute;
    z-index: 1;
    top: -80px;
    left: 0;
    transition: .3s ease-in-out all; }
  .accesorios .card-accesorios .card-body .btn-card span {
    position: relative;
    z-index: 2;
    transition: .3s ease all; }
  .accesorios .card-accesorios .card-body .btn-card:hover::after {
    top: 0; }

.contacto .infoContacto {
  width: 60%;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.63);
  border: 2px solid black;
  border-radius: 10px; }
  .contacto .infoContacto h1 {
    margin: 15px 10px;
    font-size: 25px;
    color: #9c1c80; }

.contacto .formulario {
  width: 550px;
  margin: auto;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 40px;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 7px; }
  .contacto .formulario h2 {
    color: white;
    text-align: center;
    margin: 0;
    font-size: 35px;
    margin-bottom: 20px; }
  .contacto .formulario input,
  .contacto .formulario textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 17px;
    border-radius: 5px;
    border: none; }
  .contacto .formulario textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%; }
  .contacto .formulario p {
    margin: 0;
    color: white; }
  .contacto .formulario .btn-form {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #1b1a1a;
    width: 100%;
    height: 40px;
    color: white;
    font-size: 20px;
    border: none;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden; }
    .contacto .formulario .btn-form::after {
      content: "";
      width: 100%;
      height: 100%;
      background: #771a94ec;
      position: absolute;
      z-index: 1;
      top: -80px;
      left: 0;
      transition: .3s ease-in-out all; }
    .contacto .formulario .btn-form span {
      position: relative;
      z-index: 2;
      transition: .3s ease all; }
    .contacto .formulario .btn-form:hover::after {
      top: 0; }

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#44484c, #101111);
  padding-bottom: 2px; }
  .footer h3 {
    font-size: x-large;
    margin-top: 5px;
    color: white; }
  .footer ul {
    margin-bottom: 6px;
    padding: 0;
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center; }
    .footer ul li {
      list-style: none; }
      .footer ul li .icono {
        font-size: 22px;
        margin: 0px 12px;
        color: white; }
        .footer ul li .icono:hover {
          color: #9c1c80; }
  .footer p {
    font-size: 13px;
    text-align: center;
    color: #646566;
    margin: 0px 10px;
    width: 100%; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Bubblegum Sans', cursive;
  background-image: url(../img/fondo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

@media screen and (max-width: 768px) {
  .index .contenidoIndex {
    margin: 10px 0px; }
    .index .contenidoIndex .contenedor1, .index .contenidoIndex .contenedor2 {
      padding: 5px 10px;
      align-content: center; }
      .index .contenidoIndex .contenedor1 .item-1, .index .contenidoIndex .contenedor2 .item-1 {
        height: 300px;
        width: 100%; }
      .index .contenidoIndex .contenedor1 .item-2, .index .contenidoIndex .contenedor2 .item-2 {
        height: 200px;
        width: 100%; }
        .index .contenidoIndex .contenedor1 .item-2 h2, .index .contenidoIndex .contenedor2 .item-2 h2 {
          font-size: 40px;
          color: #9c1c80; }
    .index .contenidoIndex .contenedor2 {
      flex-direction: column-reverse; }
  .contacto .infoContacto {
    width: 90%; }
  .contacto .formulario {
    width: 90%; } }

@media screen and (min-width: 769px) and (max-width: 1052px) {
  .index .contenidoIndex {
    margin: 20px 10px; }
    .index .contenidoIndex .contenedor1, .index .contenidoIndex .contenedor2 {
      padding: 5px 10px;
      align-content: center; }
      .index .contenidoIndex .contenedor1 .item-1, .index .contenidoIndex .contenedor2 .item-1 {
        height: 400px;
        width: 100%; }
      .index .contenidoIndex .contenedor1 .item-2, .index .contenidoIndex .contenedor2 .item-2 {
        height: 250px;
        width: 100%; }
        .index .contenidoIndex .contenedor1 .item-2 h2, .index .contenidoIndex .contenedor2 .item-2 h2 {
          font-size: 43px;
          color: #9c1c80; }
    .index .contenidoIndex .contenedor2 {
      flex-direction: column-reverse; } }
