* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//fuentes
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
//variables
@import './sections/variables';
// header
@import './sections/header';
//index
@import './sections/index';
//skate
@import './sections/skate';
//indumentaria
@import './sections/indumentaria';
//accesorios
@import './sections/accesorios';
//footer
@import './sections/_footer';


body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Bubblegum Sans', cursive;
}


