.header {

    .navbar-brand {
        img {
            width: 60px;
            height: 50px;
        }
    }

    .nav-item{
        a{
            &:hover {
                color: $color02;
            }
            
        }
    }

}